# Atividade 04: Dicionário de dados

#### 1. Realizar coleta inicial de dados
Seja ela através de download ou criação de script para download automático dos dados. Você deverá criar um arquivo com os dados e colocá-lo na pasta data/raw.

In [1]:
# Importando as bibliotecas pandas e seaborn
import pandas as pd
import seaborn as sns

# Permitindo que uma coluna específica (ou todas) mostre todo o conteúdo sem truncar
pd.set_option('display.max_colwidth', None)

In [2]:
# Carregando o dataset do titanic e salvando na pasta raw
df = sns.load_dataset('tips')
df.to_csv('../data/raw/tips.csv', index = False)

#### 2. Criar dicionário de dados
Uma estrutura que servirá para explicar o dado que será trabalhado. Você poderá criar um dicionário python contendo as seguintes informações para cada uma das variáveis do conjunto de dados:
- variavel: nome da coluna no pandas
- descricao: descrição da coluna
- tipo: quantitativa ou qualitativa
- subtipo: nominal, ordinal, discreta, contínua

In [3]:
# Investigando as 5 primeiras linhas do dataset
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
# Listando os nomes de todas as colunas do dataset
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [5]:
# Criando um dicionário para o dataset tips
dicionario_tips = {
    'variavel': ['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'],
    'descricao': [
        'total da conta em dólares',
        'valor da gorjeta em dólares',
        'sexo do pagante da conta',
        'indica se o grupo incluía fumantes',
        'dia da semana',
        'refeição (almoço ou jantar)',
        'tamanho do grupo'
    ],
    'tipo': ['quantitativa', 'quantitativa', 'qualitativa', 'qualitativa', 'qualitativa', 'qualitativa', 'quantitativa'],
    'subtipo': ['contínua', 'contínua', 'nominal', 'nominal', 'ordinal', 'nominal', 'discreta']
}

# Convertendo o dicionário para um DataFrame para melhorar a visualização
df_dicionario_tips = pd.DataFrame(dicionario_tips)
df_dicionario_tips

     variavel                           descricao          tipo   subtipo
0  total_bill           total da conta em dólares  quantitativa  contínua
1         tip         valor da gorjeta em dólares  quantitativa  contínua
2         sex            sexo do pagante da conta   qualitativa   nominal
3      smoker  indica se o grupo incluía fumantes   qualitativa   nominal
4         day                       dia da semana   qualitativa   ordinal
5        time         refeição (almoço ou jantar)   qualitativa   nominal
6        size                    tamanho do grupo  quantitativa  discreta

In [6]:
# Salvando o dicionário na pasta external
df_dicionario_tips.to_csv('../data/external/dictionary.csv', index = False)