# Análise exploratória de dados

In [1]:
# Importando as bibliotecas pandas e seaborn
import pandas as pd
import seaborn as sns

# Permitindo que uma coluna específica (ou todas) mostre todo o conteúdo sem truncar
pd.set_option('display.max_colwidth', None)

## 0. Coleta de dados

In [2]:
# Carregando o dataset do titanic e salvando na pasta raw
df = sns.load_dataset('tips')
df.to_csv('../data/raw/data.csv', index = False)

## 1. Descrição dos dados

### 1.1. Investigando o dataset

In [3]:
# Investigando as 5 primeiras linhas do dataset
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
# Listando os nomes de todas as colunas do dataset
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

### 1.2. Criando um dicionário para o dataset

In [5]:
# Criando um dicionário para o dataset tips
dicionario_tips = {
    'variavel': ['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'],
    'descricao': [
        'Total da conta em dólares',
        'Valor da gorjeta em dólares',
        'Sexo do pagante da conta',
        'Indica se o grupo incluía fumantes',
        'Dia da semana',
        'Refeição (Almoço ou Jantar)',
        'Tamanho do grupo'
    ],
    'tipo': ['Quantitativa', 'Quantitativa', 'Qualitativa', 'Qualitativa', 'Qualitativa', 'Qualitativa', 'Quantitativa'],
    'subtipo': ['Contínua', 'Contínua', 'Nominal', 'Nominal', 'Ordinal', 'Nominal', 'Discreta']
}

# Convertendo o dicionário para um DataFrame para melhorar a visualização
df_dicionario_tips = pd.DataFrame(dicionario_tips)
df_dicionario_tips

     variavel                           descricao          tipo   subtipo
0  total_bill           Total da conta em dólares  Quantitativa  Contínua
1         tip         Valor da gorjeta em dólares  Quantitativa  Contínua
2         sex            Sexo do pagante da conta   Qualitativa   Nominal
3      smoker  Indica se o grupo incluía fumantes   Qualitativa   Nominal
4         day                       Dia da semana   Qualitativa   Ordinal
5        time         Refeição (Almoço ou Jantar)   Qualitativa   Nominal
6        size                    Tamanho do grupo  Quantitativa  Discreta

In [6]:
# Salvando o dicionário na pasta external
df_dicionario_tips.to_csv('../data/external/dict_tips.csv', index = False)

## 2. Perguntas de partida e hipóteses

## 3. Insights