# Análise exploratória de dados

In [1]:
# Importando as bibliotecas pandas e seaborn
import pandas as pd
import seaborn as sns

# Permitindo que uma coluna específica (ou todas) mostre todo o conteúdo sem truncar
pd.set_option('display.max_colwidth', None)

## 1. Descrição dos dados

### 1.1. Investigando o dataset

In [2]:
# Carregando o dataset do titanic e visualizando as 5 primeiras linhas
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
# Listando os nomes de todas as colunas do dataset
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

### 1.2. Criando um dicionário para o dataset

In [4]:
# Criando um dicionário para 
titanic_dict = {
    'variavel': ['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'
    ],
    'descricao': [
        'Se o passageiro sobreviveu ou não (0 = não, 1 = sim)',
        'Classe do bilhete do passageiro (1 = primeira classe, 2 = segunda classe, 3 = terceira classe)',
        'Sexo do passageiro',
        'Idade do passageiro',
        'Número de irmãos/cônjuges a bordo',
        'Número de pais/filhos a bordo',
        'Tarifa paga pelo passageiro',
        'Porto de embarque (C = Cherbourg, Q = Queenstown, S = Southampton)',
        'Classe do bilhete do passageiro como texto (First, Second, Third)',
        'Categoria do passageiro (man, woman, child)',
        'Indica se o passageiro é um adulto do sexo masculino',
        'Letra correspondente ao deck da cabine',
        'Nome da cidade de embarque',
        'Estado de sobrevivência como texto (yes, no)',
        'Se o passageiro estava viajando sozinho ou não'
    ],
    'tipo': [
        'Qualitativa', 'Qualitativa', 'Qualitativa', 'Quantitativa', 
        'Quantitativa', 'Quantitativa', 'Quantitativa', 'Qualitativa',
        'Qualitativa', 'Qualitativa', 'Qualitativa', 'Qualitativa', 
        'Qualitativa', 'Qualitativa', 'Qualitativa'
    ],
    'subtipo': [
        'Nominal', 'Ordinal', 'Nominal', 'Contínua**', 
        'Discreta', 'Discreta', 'Contínua', 'Nominal',
        'Ordinal', 'Nominal', 'Nominal', 'Nominal',
        'Nominal', 'Nominal', 'Nominal'
    ]
}

df_dicionario = pd.DataFrame(titanic_dict)
df_dicionario

,variavel,descricao,tipo,subtipo
0,survived,"Se o passageiro sobreviveu ou não (0 = não, 1 = sim)",Qualitativa,Nominal
1,pclass,"Classe do bilhete do passageiro (1 = primeira classe, 2 = segunda classe, 3 = terceira classe)",Qualitativa,Ordinal
2,sex,Sexo do passageiro,Qualitativa,Nominal
3,age,Idade do passageiro,Quantitativa,Contínua**
4,sibsp,Número de irmãos/cônjuges a bordo,Quantitativa,Discreta
5,parch,Número de pais/filhos a bordo,Quantitativa,Discreta
6,fare,Tarifa paga pelo passageiro,Quantitativa,Contínua
7,embarked,"Porto de embarque (C = Cherbourg, Q = Queenstown, S = Southampton)",Qualitativa,Nominal
8,class,"Classe do bilhete do passageiro como texto (First, Second, Third)",Qualitativa,Ordinal
9,who,"Categoria do passageiro (man, woman, child)",Qualitativa,Nominal
10,adult_male,Indica se o passageiro é um adulto do sexo masculino,Qualitativa,Nominal
11,deck,Letra correspondente ao deck da cabine,Qualitativa,Nominal
12,embark_town,Nome da cidade de embarque,Qualitativa,Nominal
13,alive,"Estado de sobrevivência como texto (yes, no)",Qualitativa,Nominal
14,alone,Se o passageiro estava viajando sozinho ou não,Qualitativa,Nominal

## 2. Perguntas de partida e hipóteses

## 3. Insights